/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19-abr-2016, 11:56:56
    Author     : Daniel
*/

@font-face{
    font-family: Hero_propia;
    src: url("../fonts/hero/Hero.otf")format("opentype");
}
@font-face{
    font-family: Hero_propia_Light;
    src: url("../fonts/hero/Hero Light.otf")format("opentype");
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

footer.page-footer{
    background-color:#0095ad;
}

td.white-text{
    font-weight: 300;
    font-size: 16pt;
    text-align: right;
    text-align: center;
    padding: 3px;
}
td.borde-derecho{
    border-right-style: solid;
    border-right-color: white;
    border-right-width: 1px;
}

.nav-wrapper a{
    font-family: Hero_propia_Light;
    color: #59595c;
    align-content: center;
    font-size: small;
}

.nav-wrapper a i{
    color: #0095ad;
}
a.btn-floating i{
    color: white;
    background-color: #0095ad;
}
.top-buffer { 
    position: relative;
    top: 30px;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
