RewriteEngine On

RewriteBase /

# Servir contenidos de tipo text/plain o text/html usando la codificación UTF-8
AddDefaultCharset utf-8
 
# Forzar la codificación UTF-8 en varios tipos de archivos
AddCharset utf-8 .atom .css .js .json .rss .vtt .xml

#Impedir que se pueda acceder a archivos con contenidos sensibles
<FilesMatch "\.(htaccess|htpasswd|ini|phps|fla|psd|log|sh)$">
  Order Allow,Deny
  Deny from all
</FilesMatch>

ErrorDocument 400 /AplicacionCamisetas/error.php
ErrorDocument 401 /AplicacionCamisetas/error.php
ErrorDocument 403 /AplicacionCamisetas/error.php
ErrorDocument 404 /AplicacionCamisetas/error.php
ErrorDocument 500 /AplicacionCamisetas/error.php