/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19-abr-2016, 11:56:56
    Author     : Daniel
*/

@font-face{
    font-family: Hero_propia;
    src: url("../fonts/hero/Hero.otf")format("opentype");
}
@font-face{
    font-family: Hero_propia_Light;
    src: url("../fonts/hero/Hero Light.otf")format("opentype");
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

footer.page-footer{
    background-color:#0095ad;
}



a.borde-derecho-cyan{
    border-right-style: solid;
    border-right-color: #0095ad;
    border-right-width: 1px;


}

nav ul a.dropdown-button{
    color: #59595c;
    font-family: Hero_propia;
    font-size: medium;
    width: 133px;
    text-align: center;
    line-height: 50px;
}

nav{
    background-color: white;
}

nav .button-collapse i{
    color: #0095ad;
}


a.btn-floating{
    width: 40px;
    height: 40px;
    background-color: #0095ad;
}
a.btn-floating i{
    color: white;
    background-color: #0095ad;
    line-height: 41px;


}
.dropdown-content li > a{
    color: #59595c;
    text-align: center;
    font-family: Hero_propia;

}
.dropdown-content li{
    width: 133px !important;

}
.dropdown-content{
    width: 133px !important;
}
@media (min-width: 1024px) {

    .container{
        min-width: 1014px;
    }
    footer.page-footer{
        background-color:#0095ad;
        position: relative;
        top: 65px; 
    }
    main{
        position: relative;
        top: 65px; 
    }
    nav{
        height: 130px;
    }
    a.brand-logo{
        max-width: 230px;

    }
    nav .hide-on-med-and-down{
        position: relative;
        top: 50px; 

    }
    nav .hide-on-med-and-down .enlace-superior{
        font-family: Hero_propia;
        color: #59595c;
        font-size: small;
        padding-left: 8px;
        padding-right: 8px;
        position: relative;
        bottom: 50px;
        height: 25px;
        line-height: 25px;


    }
    nav .hide-on-med-and-down .borde-derecho-gris{
        border-right-style: solid;
        border-right-color: #59595c;
        border-right-width: 1px;

    }
    nav .hide-on-med-and-down .enlace-superior:hover{
        background-color: white !important;

    }
    nav .hide-on-med-and-down .enlace-superior i{
        height: 25px;
        line-height: 25px;
        font-size: 1.5rem;
        margin-left: 2px;

    }
    .borde-derecho-blanco{
        border-right-style: solid;
        border-right-color: white;
        border-right-width: 1px;

    }

}
@media (max-width: 1200px) {

    a.brand-logo{
        width: 105px;
    }

}
.white-text{
    font-weight: 300;
    font-size: 15pt;
    text-align: center;
    line-height: 10px;
    height: 5px;

}
.enlace-superior i{
    color: #0095ad;
}
@media (min-width: 1200px) {
    .container {
        min-width: 1200px;
    }
}
